*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar-wrapper{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    height: 3rem;
    justify-content: center;
}
.navbar{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-box-navbar{
    font-weight: 800;
    font-size: 1.5rem;
}

.right-box-navbar{
    display: flex;
    gap: 1.5rem;
}

.navbar-link{
    text-decoration: none;
    color: grey;
    padding-top: .4rem;
}

.login-btn{
    padding: .3rem 1rem;
    border-radius: 8px;
    background-color: #211cb8;
    color: white;
    border: none;
}

.login-btn:hover{
    cursor: pointer;
}

.home{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70vh;
}

.home-left-box{
    width: 32rem;
    margin-top: 2rem;
    border-radius: 15px;
    background-color: #f7f7f7d4;
    padding: 2rem;
}

.home-heading{
    font-size: 2.7rem;
    color: #5959e1;
}

.home-left-dropdown{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.home-right-box{
    margin-top: 2rem;
}

.creator-wrapper{
    margin-top: 8rem;
    background-color: #f7f7f7d4;
    padding: 2rem;
}

.creator{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.creator-heading{
    font-size: 2.2rem;
    color: #5959e1;
}

.creator-top-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}

.view-all-btn{
    background-color: white;
    padding: .2rem 1rem;
    border: 1px solid black;
    border-radius: 18px;
}

.wrapper-creator{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 3rem;
}

.cards{
    width: 17rem;
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
}

.cards-info-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-bottom: 0; */
    /* margin-bottom: 0; */
    margin-top: 1rem;
}

.cards-info-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divider{
    height: 1px;
    background-color: black;
    margin-bottom: .5rem;
}

.cards-social-handle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-handles{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    gap: .8rem;
    width: 8rem;
}
.social-handles img{
    width: 2rem;
}
.social-handles img:hover{
    cursor: pointer;
}
.profile-photo{
    width: 100%;
    height: 15rem;
    border-radius: 15px;
}

.compare-btn{
    padding: .2rem 1rem;
    background-color: #5959e1;
    color: white;
    border-radius: 8px;
}

.creator-names{
    padding: 0;
    margin: 0;
}

.category-wrapper{
    padding-top: 5rem;
    background-color: rgb(243, 226, 220);
    padding-bottom: 5rem;
}

.category{
    width: 80%;
    margin: auto;
}

.category-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.category-cards-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.category-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2px 1rem 1rem;
    width: 18rem;
    /* gap: .5rem; */
    margin-right: .8rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 15px;
}


.category-photo{
    height: 10rem;
    border-radius: 12px;
    /* padding-top: 0; */
}

.category-view-all{
    padding: 2px 1rem;
    background-color: white;
    border-radius: 25px;
    height: 2rem;
}

.category-header{
    color: #b58d21;
}

.category-title{
    font-size: 1.2rem;
}

.brands-main-wrapper{
    background-color: #f7f7f7d4;
}

.brands-wrapper{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5rem 0;
}

.brands-bottom-box{
    display: flex;
    flex-direction: column;
}

.brands-top-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    margin-bottom: 2rem;
}

.brands-logo-top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}

.logo{
    width: 10rem;
    /* background-color: #f7f7f7d4; */
}

.grab{
    height: 3rem;
    padding-top: 1rem;
}

.brands-logo-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.brands-heading{
    color: #5959e1;
}

.brands-sub-heading{
    color: gray;
    font-weight: 700;
    font-size: 1rem;
}

.footer-wrapper{
    background-color: rgb(243, 226, 220);
}

.footer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 2rem;
}

.footer-left{
    width: 30rem;
}

.footer-social{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

.footer-logos{
    width: 2rem;
    margin-right: 1rem;
}

.footer-logos:hover{
    cursor: pointer;
}
.footer-center{
    display: flex;
    flex-direction: column;
}

.footer-center a{
    margin-bottom: .5rem;
    /* color: gray; */
    /* font-weight: bolder; */
}
.footer-right a{
    margin-bottom: .5rem;
}
.footer-right{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1200px){
    .home-left-box{
        width: 26rem;
        height: 75vh;
    }
    .home-heading{
        font-size: 2rem;
    }
    .home-right-box{
        width: 26rem;
    }
    .creator-heading{
        font-size: 2rem;
    }
    .cards{
        width: 12rem;
        padding: 0;
    }
    .cards-info-top{
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .cards-info-bottom{
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .cards-info-bottom p{
        font-size: .8rem;
    }
    .creator-names{
        font-size: .9rem;
    }
    .divider{
        margin: .5rem .5rem;
    }
    .social-handles{
        margin-left: .5rem;
    }
    .social-handles img{
        width: 1rem;
        height: 1.5rem;
    }
    .compare-btn{
        width: 5rem;
        height: 1.5rem;
        font-size: .6rem;
        margin-bottom: .5rem;
        margin-right: .5rem;
    }
    .category-cards-wrapper{
        width: 90%;
        margin: auto;
    }
    .category-cards{
        width: 12rem;
        display: flex;
        flex-direction: column;
        /* margin: auto; */
        /* padding-right: .5rem; */
    }
}

@media only screen and (max-width: 992px){
    .left-box-navbar{
        font-size: 1.2rem;
    }
    .navbar-link{
        font-size: .8rem;
    }
    .login-btn{
        padding: .1rem .6rem;
    }
    .home-left-box{
        width: 22rem;
    }
    .home-heading{
        font-size: 1.7rem;
    }
    .home-left-box p{
        font-size: .8rem;
    }
    .home-right-box{
        width: 22rem;
    }
}